@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.coin {
  &--title {
    line-height: 2.5;
  }
}

.company {
  &:hover {
    cursor: pointer;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 35;
  background: rgba(0, 0, 0, 0.7);
}

.blur {
  filter: blur(7px);
}